// fontawsome
$fa-font-path: "../webfonts";

// primary color
$primary-color: #39a310;
$primary-bgc: #fff;
$primary-text-color: #fff;
$primary-text-white-color: #ffffffd9;
$primary-text-white-selected-color: #fff;
$primary-text-white-hover-color: #fff;
$primary-text-black-color: #39a310;
$primary-text-grey-color: #8492A6;
$primary-yellow-color: #ffab00;
$primary-green-color: #36b37e;

// header
$navbar-bottom-border-color: #ffffff1a;

// dropdown menu 
$dropdown-item-hover-bgc: #FAFBFE;
$dropdown-title-color: #3C4858;
$dropdown-icon-color: #8593A7;
$sub-dropdown-text-hover-color: #657a95;
$dropdown-menu-sub-links-bgc: #F8F8F9;

// footer
$copyright-description-color: #fffc;

// others
$body-bgc: #FAFBFE;
$svg-color: #39a310;
$card-border-color: #EFF2F7;

// buttons
$button-white-bgc: #fff;
$button-white-hover-bgc: #ECECEC;