.fluid-paragraph {
    margin: 85px auto;
    width: 680px;
    font-size: 1.6rem;
    padding: 0 24px;
    text-align: center;;
    line-height: 1.7;

    p {
        color: $primary-text-grey-color;
    }
}