.fill-cyan {
    fill: #4bd6e5;
}

.fill-pink {
    fill: #f074ad;
}

.fill-yellow {
    fill: #ffcc00;
}

.fill-blue {
    fill: #2684FF;
}

.fill-pink {
    fill: #f074ad;
}

.fill-purple {
    fill: #510FA8;
}