.header {
    width: 100%;

    font-size: 1.4rem;
}

.nav-left-item > *,
.nav-right-item > * {
    color: $primary-text-white-color;

    transition: 0.1s ease-out;
}

.nav-left-item.nav-item-selected > *,
.nav-right-item.nav-item-selected > * {
    color: $primary-text-white-selected-color;

    transition: 0.1s ease-out;
}

.nav-left-item:hover > *,
.nav-right-item:hover > *:not([class*="btn"]) {
    color: $primary-text-white-hover-color;
}