.menu-btn-mobile {
    position: relative;
    z-index: 2;

    display: none;

    cursor: pointer;

    @include respond(both) {
        display: block;
    }

    div {
        position: absolute;
        top: -10px;
        left: 0;

        width: 100%;
        height: 20px;

        background-color: transparent;
    }

    &,
    &:before,
    &::after {
        content: "";

        width: 2.3rem;
        height: 0.2rem;

        background-color: $primary-text-white-color;
    }

    &:before {
        position: absolute;
        top: -8px;
    }

    &:after {
        position: absolute;
        top: 8px;
    }
}

#menu-btn-mobile {
    display: none;
}

.navbar-overlay-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: none;

    background-color: #273444;
}

.nav-container {
    @include respond(both) {
        display: none !important;
    }
}

#menu-btn-mobile:checked {
    & ~ .navbar-overlay-mobile {
        display: block;
    }
}

#menu-btn-mobile:checked ~ .nav-container {
    .nav-left {
        opacity: 0;

        z-index: 2;

        animation: showMobileNavbar 0.4s 0.2s forwards;
    }

    .nav-right {
        opacity: 0;
        
        z-index: 1;

        animation: showMobileNavbar 0.4s 0.2s forwards;
    }

    display: flex !important;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin-top: 20px;

    & > .nav-left,
    & > .nav-right {
        flex-direction: column;
    }

    & > .nav-right .btn {
        padding: 0;
        color: $primary-text-white-color;
        font-weight: 600;

        background-color: transparent;
    }

    & > .nav-right .btn-text {
        margin-left: 0;
    }

    & .nav-left-item i,
    & .nav-right-item i {
        margin-left: auto;
    }

    & .nav-right-item .btn i {
        display: none;
    }

    & .nav-left-item,
    & .nav-right-item {
        margin: 0 0 25px;
        padding: 0;
        width: 100%;
    }
}

.dropdown-menu-up {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0) !important;
}

@keyframes showMobileNavbar {
    from {
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
